<div id="message-<%= message.id %>">
<<<<<<< HEAD
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
=======
    <small>
        <strong><%= message.user.nickname %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
>>>>>>> e37754df70e9b768f1c8ce16fa7e90a53f6cb274
</div>