<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="position:sticky; background:white;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dt9msp03i/image/upload/v1706870173/logo_black_ktju2o.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
         <li class="nav-item active">
          <%= link_to "Home", root_path , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Category", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Customize", products_path, class: "nav-link" %>
        </li>
      </ul>

      <form class="d-flex" action="/products" method="get">
        <input class="form-control me-2" name="search" type="search" placeholder="" aria-label="Search">
        <button class="btn btn-outline-success border-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
        <% if user_signed_in? %>
          <div class="nav-item dropdown ps-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= cl_image_tag current_user.photo.key, class:"avatar" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
