<div class="container">
<%= link_to "add Product", new_product_path(@product), class:"btn btn-primary" %>

<%= form_tag(products_path, method: "get") do %>
  <%= select_tag :collection, options_for_select(Product.pluck(:collection).uniq, params[:collection]), include_blank: true %>
  <%= select_tag :material, options_for_select(Product.pluck(:material).uniq, params[:material]), include_blank: true %>
  <%= select_tag :color, options_for_select(Product.pluck(:color).uniq, params[:color]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<div class="d-flex justify-content-center">
<div id="cards">
<% @products.each do |product| %>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= product.title %></h2>
      <p><%= product.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= product.price %> dh </h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
