<div class="d-flex">
<div class="user-info  border border-right border-danger ">


</div>

<div class="container">
<div class="d-flex justify-content-between ">
<% if current_user %>
<%= link_to "add ali", new_product_path(@product), class:"button-6" %>
<% end %>
<%= form_tag(products_path, method: "get", class:"d-flex align-items-center") do %>
  <%= select_tag :collection, options_for_select(Product.pluck(:collection).uniq, params[:collection]), include_blank: true, class:"select" %>
  <%= select_tag :material, options_for_select(Product.pluck(:material).uniq, params[:material]), include_blank: true, class:"select" %>
  <%= select_tag :color, options_for_select(Product.pluck(:color).uniq, params[:color]), include_blank: true, class:"select" %>
  <%= submit_tag "Filter" , class:"btn btn-light h-100 " %>
<% end %>
</div>

<div class="d-flex justify-content-center mt-3">
<div id="cards">
<% @products.each do |product| %>
<%= link_to product do %>
<div class="card-trip text-dark">
 <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= product.title %></h2>
      <p><%= product.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= product.price %> dh </h2>
    <%= cl_image_tag product.craftman.photo.key, class: "card-trip-user avatar-bordered" %>
    </div>

  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
</div>
