
<div class="container">
<div class="d-flex justify-content-center  ">

<%= form_tag(products_path, method: "get", class:"d-flex align-items-center") do %>

  <%= select_tag :collection, options_for_select([["Collection", ""]].concat(Product.pluck(:collection).uniq.map { |collection| [collection, collection] }), params[:collection]), class: "select" %>

<%= select_tag :material, options_for_select([["Material", ""]].concat(Product.pluck(:material).uniq.map { |material| [material, material] }), params[:material]), class: "select" %>

<%= select_tag :color, options_for_select([["Color", ""]].concat(Product.pluck(:color).uniq.map { |color| [color, color] }), params[:color]), class: "select" %>
  <%= submit_tag "Filter" , class:"button-6 m-2" %>
  <% if current_user %>
<%= link_to "Add Product", new_product_path(@product), class:"button-6 mr-5" %>
<% end %>
<% end %>
</div>

<div class="d-flex justify-content-center mt-3">
<div id="cards">
<% @products.each do |product| %>
<%= link_to product do %>
<div class="card-trip text-dark" style="height:310px;">
 <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= product.title %></h2>
      <p><%= product.description %></p>
    </div>

    <h2 class="card-trip-pricing "><div class="d-flex"><%= product.price %> <h2>    Dh</h2> </div></h2>
    <%= cl_image_tag product.craftman.photo.key, class: "card-trip-user avatar-bordered" %>
    </div>

  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
